*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:red;
    color:#333;
}

header{
    background:linear-gradient(135deg,#0a3d62,#1e90ff);
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#0a3d62;
    padding:12px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#1e90ff;
}

.hero{
    height:90vh;
    background:url('https://images.unsplash.com/photo-1523050854058-8df90110c9f1') no-repeat center/cover;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    text-align:center;
    flex-direction:column;
}

.hero h1{
    font-size:50px;
    text-shadow:2px 2px 8px black;
}

.hero button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    background:#1e90ff;
    color:white;
    border-radius:30px;
    cursor:pointer;
    transition:0.3s;
}

.hero button:hover{
    background:#0a3d62;
    transform:scale(1.1);
}

.section{
    padding:60px 20px;
    text-align:center;
}

.cards{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-top:30px;
}

.card{
    background:white;
    width:280px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.gallery img{
    width:300px;
    height:200px;
    object-fit:cover;
    border-radius:10px;
    margin:10px;
    transition:0.4s;
}

.gallery img:hover{
    transform:scale(1.1);
}

footer{
    background:#0a3d62;
    color:white;
    text-align:center;
    padding:15px;

}
